/* Fonts */
$lato: 'Lato','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;
$merriweather: 'Merriweather','Georgia','Times New Roman', serif;

/* Shades */

/* Theme Colors */
// $theme-color: #781ED6;
$theme-color: #64FFDA;
$theme-color-light: lighten($theme-color, 10%);
$theme-color-lighter: lighten($theme-color, 20%);
$theme-color-dark: darken($theme-color, 10%);
$theme-color-darker: darken($theme-color, 20%);

// Alternate theme colors
$theme-color-network: #DC143C;

/* Alt Colors */
$grey-body: #36313d;
$grey-darker: #263238;
$grey-dark: #37474F;
$grey-dark-steel: #546E7A;
$grey-mid: #2E343B;
$grey-light: #ECEFF1;
$grey-lighter: #f1f1f1;

$theme-color-gold: #f9cb42;
$theme-color-gold-light: lighten($theme-color-gold, 10%);
$theme-color-gold-lighter: lighten($theme-color-gold, 20%);
$theme-color-gold-dark: darken($theme-color-gold, 10%);
$theme-color-gold-darker: darken($theme-color-gold, 20%);

// $theme-color-purple: #503c75;
$theme-color-purple: #512DA8;
$theme-color-purple-light: lighten($theme-color-purple, 10%);
$theme-color-purple-lighter: lighten($theme-color-purple, 20%);
$theme-color-purple-dark: darken($theme-color-purple, 10%);
$theme-color-purple-darker: darken($theme-color-purple, 20%);

/* DIMENSIONS
    Extra small screen / phone
    Small screen / phone
    Medium screen / tablet
    Large screen / desktop
    Extra large screen / wide desktop
    Grid Breakpoints {min-width}
 */
// calc($buffer * num)
$buffer: 1rem;

// Fonts
$base-font: $lato;
$headline-font: $merriweather;
$serif-font: $merriweather;
$font-sm: '.9375rem';

$grid-xs: 0;
$grid-sm: 576px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1200px;

// Grid Breakpoints {max-width}
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
