// _typorgaphy.scss

body {
    font-family: $base-font;
}
a, h1, h2, h3, h4, p, span {
    letter-spacing: 0;
}
strong, b {
    font-weight: 700;
}

.text {
    &--10 {
        font-size: 0.625rem;
    }
    &--11 {
        font-size: 0.6875rem;
    }
    &--12 {
        font-size: 0.75rem;
    }
    &--13 {
        font-size: 0.8125rem;
    }
    &--14 {
        font-size: 0.875rem;
    }
}