// _buttons.scss
button {
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
.btn {
    text-transform: uppercase;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    text-transform: uppercase;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: 0px;
    overflow: visible;    
    transition: all 0.2s ease-out;
    cursor: pointer;

    &--sm {
        padding: .5rem 1.25rem;
        border-radius: 3px;
        font-size: 0.875rem;
        font-weight: 600;
    }
    &--theme-color {
        color: white;
        background-color: $theme-color;

        &:hover {
            background-color: lighten($theme-color, 5%);
        }
        &:active {
            background-color: darken($theme-color, 10%);
        }        
    }
    &--grey-mid {
        color: white;
        background-color: $grey-mid;

        &:hover {
            background-color: lighten($theme-color, 5%);
        }
        &:active {
            background-color: darken($theme-color, 10%);
        }        
    }
    &:active {
        // box-shadow: 0 -2px 2px rgba(0,0,0,.2);
    }
}
.btn__block {
    display: flex;
}