// _cards.scss

.card {
    position: relative; 
    display: flex;
    flex-direction: column;      
    z-index: 1;
    width: 100%;
    justify-content: flex-start;
    scale: 1;
    text-decoration: none;
    transition: all .2s ease-out;

    &__image { 
        overflow: hidden;
        justify-self: flex-start;
        position: relative;
        width: 100%;
        height: 7.8125rem;
        background-size: cover;
        display: block;
        background-position: center;
        transition: all .3s ease-out;

        .card__with-border & {
            border-bottom: 5px solid;            
        }
        @include atMedium {
            .card__half-tall & {
                // height: 68.3%;
                flex: 1;

                & > div {
                    padding-bottom: 0% !important;
                }
            }            
        }
    }   
    &__content {
        position: relative;
        display: flex; 
        flex-direction: column;
        flex: 1; 
        justify-content: stretch;
        width: 100%;
        padding: 1.25rem;

        .card__half-tall & {
            flex: 0;
        }          
    }
    &__title, a &__title {
        // font-family: $serif-font;
        color: $grey-darker;
        font-size: 1.2rem;
        line-height: 1.4;      
        font-weight: 700;
        padding-top: .5rem; 
        padding-bottom: 1rem; 
        justify-self: flex-start;       
    }
    &__excerpt {
        justify-self: flex-start;
        height: 100%;
        color: $grey-dark; 
        align-self: center;
        padding-bottom: 1rem;
    }
    &__subtitle,
    &__subheading  {
        justify-self: flex-start;
        color: $grey-dark;  
        font-weight: 400;
        padding-bottom: 1rem;
    }
    &__icon {
        align-self: flex-end;
        justify-self: flex-end;
        // padding-right: 1.25rem;
        padding-bottom: .5rem;
    }
    &__icon--right {
        align-self: flex-end;
        padding-right: 1.25rem;
        padding-bottom: .5rem;
    }

    &:hover {
        box-shadow: 0 12px 15px 0 rgba(0,0,0,.3);
        scale: 1.35;

        .card__image > img {
            transform: scale(1.25);
        }
        .card--with-border img {
            border-bottom: 2px solid $theme-color-darker;
        }
        & .fill--theme-color {
            fill: $theme-color-dark;
        }              
    }
}

@include atMedium {
    .card.card__dark-overlay {  
        background-color: transparent;        

        .card__image {
            position: relative;
            z-index: 1;          
            flex: 1;
     
        }
        .card__content {
            position: absolute;
            bottom: 0;
            z-index: 1; 
            
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                background-color: rgba(black, .75);
                width: 100%;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            } 
            
            & .btn {
                color: $grey-darker;
            }
        }    
        .card__title,
        a > .card__title {
            color: rgba(white, 1);
        }
        .card__subheading,
        .card__subtitle,
        .card__excerpt {
            color: rgba(white, .8);
        }
    }
}
