// Selectors

.selector {
    transition: all .3s ease-out;
    &.bg--theme-color {
        background-color: $theme-color;
        &:hover {
            background-color: $theme-color-dark;
        }
    }
}