.tags {

    .card & {
        position: absolute;

    }
    & span {
        padding: 0 10px;
        background-color: $theme-color-network;
        border-radius: 30px;
        margin-right: .5rem;
    }
}