.tags {

    .card & {
        position: absolute;
        bottom: 1.5rem;
        left: 1.25rem;

        & a {
            margin: 0 5px 0 0;
            position: relative;
            z-index: 1000;
            color: rgba($grey-dark, .8);
            transition: all .3 ease-out;
            &:hover {
                color: $grey-dark;
                text-decoration: underline;
            } 
        }        
    }
    &__title {
        position: relative;
        // top: -2px;
        font-weight: 500;
        font-size: .8125rem;
        letter-spacing: 1px;
        // padding-right: px;
        text-transform: uppercase;
        color: rgba($grey-dark, .7)
    }
    & .tag span {
        font-weight: 600;
        color: $grey-dark;
        font-size: .8125rem;
        &:after {
            content: ",";
        }      
    }
    & .tag:last-child span:last-child {
        &:after {
            content: "";
        }       
    }
}