.author {

    &__image {
        position: relative;
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50%;
    }
}

.post-list__item .author {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__meta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 1rem;

        &-prefix {
            margin-top: .5rem;
            line-height: 1;
        }
        &-label {
            font-weight: 800;
        }
    }
    &__image {
        margin-right: 1rem;
    }
}