// Colors
.bg {
    &--grey-dark-steel {
        background-color: rgba($grey-dark-steel, .25);
    }
}
.wrapper {
    background-color: $grey-lighter;
}
.header {

    &__wrapper {
        background-color: $theme-color-dark;        
    }

    &__logo a {
        color:white;
    }
}
.nav__header {
    
    @include atSmallest {
        background-color: $grey-lighter; 
        & a {
            color: $grey-mid;

            &.active,
            &:hover {
                color: rgba(white, .8);
            }        
        }        
    }
    @include atSmall {
        background-color: transparent; 
        & a {
            color: white;

            &.active,
            &:hover {
                color: rgba(white, .8);
            }        
        }      
    }
}
.card {
    cursor: pointer;
    transform: scale(1);
    // box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    // border: 1px solid rgba(black, .1);   
    & .btn {
        background-color: $grey-dark-steel;
        color: rgba(white, 1);
    }
    &__image {
        .card__with-border & {
            border-bottom: 5px solid $grey-dark-steel;            
        }            
    }  
    &:hover {
        z-index: 3;
        box-shadow: 0 12px 15px 0 rgba(0,0,0,.3);
        // transform: scale(1.0125);

        & .btn {
            background-color: $theme-color-dark;
        }
        &.card__with-border .card__image {
            border-bottom: 5px solid $theme-color-lighter;
        }          
        // & .card__image {
        //     height: 14.8125rem;
        // }          
    }
    &:active {
        box-shadow: none;
    }
}
.footer,
.card  {
    background-color: white;
}
.bg--grey-dark-steel .card {
    background-color: $grey-lighter;
}
.footer__logo {
    margin-left: auto;
}
.nav__social {

    margin-left: auto;
    margin-right: auto;

    a {
        color: $grey-mid;

        &:hover {
            color: $theme-color;
        }
    }
    svg {
        width: 18px;
        height: 18px;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    @include atMedium {
        padding-right: 1rem;
        padding-left: 1rem;
        margin-left: 0;
        margin-right: 0;        
    }      
}
