// _tools.scss

.wrapperForBlocks, #randBlock {
	max-width: 600px;
	margin: 20px auto;
	background: #F9F9FB;
	padding: 20px;
	
	h1 {
		background-color: #d53492;
		color: #F9F9FB;
		position: relative;
		padding: 20px;
		border: 5px solid lime;
		box-shadow: 2px 4px 6px #456;
	}
}

