
$pad-min: 0;
$pad-max: 10;

.m {
    &-b--1h {
        margin-bottom: 1.5rem;
    }
    @for $pad from $pad-min through $pad-max { 
        &-t--#{$pad} {
            margin-top: #{$pad}rem;
        }
        &-b--#{$pad} {
            margin-bottom: #{$pad}rem;
        }
        &-l--#{$pad} {
            margin-left: #{$pad}rem;
        }
        &-r--#{$pad} {
            margin-right: #{$pad}rem;
        }
        &-tb--#{$pad} {
            margin-top: #{$pad}rem;
            margin-bottom: #{$pad}rem;
        }
        &-lr--#{$pad} {
            margin-left: #{$pad}rem;
            margin-right: #{$pad}rem;
        }
    }
}
.p {
    &-b--1h {
        margin-bottom: 1.5rem;
    }    
    @for $pad from $pad-min through $pad-max { 
        &-t--#{$pad} {
            padding-top: #{$pad}rem;
        }
        &-b--#{$pad} {
            padding-bottom: #{$pad}rem;
        }
        &-l--#{$pad} {
            padding-left: #{$pad}rem;
        }
        &-r--#{$pad} {
            padding-right: #{$pad}rem;
        }
        &-tb--#{$pad} {
            padding-top: #{$pad}rem;
            padding-bottom: #{$pad}rem;
        }
        &-lr--#{$pad} {
            padding-left: #{$pad}rem;
            padding-right: #{$pad}rem;
        }
    }
}
