.flex {
    display: flex;

    &.wrap {
        flex-wrap: wrap;
    }
    &.unwrap {
        flex-wrap: nowrap;
    }
}
.flex-column {
    flex-direction: column;
}
$position: 
center, 
start,
end,
flex-start,
flex-end,
space-around,
space-between,
space-evenly;

.justify {
    @each $pos in $position {
        &__self--#{$pos} {
            justify-self: $pos;
        }
        &__content--#{$pos} {
            justify-content: $pos;
        }
        &items--#{$pos} {
            justify-items: $pos;
        }
    }
}
.align {
    @each $pos in $position {
        &__self--#{$pos} {
            align-self: $pos;
        }
        &__content--#{$pos} {
            align-content: $pos;
        }
        &items--#{$pos} {
            align-items: $pos;
        }
    }
}