.footer {
    display: flex;
    align-items: center;
    font-size: .75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__inner {
        width: 100%;
        display: flex;
        flex-wrap: wrap; 
        padding-left: 1.5rem;        
        padding-right: 1.5rem;        
    }
    &__logo {
        display: block;
        text-align: center;
        font-size: 0.875rem;

        &--right {
            text-align: right;
        }

        & object,
        & svg,
        & img {
            position: relative;
            z-index: -1;
            width: 100%; 
            max-width: 180px;
        }                 

        @include atMedium {
            text-align: left;

            & object,
            & svg,
            & img {
                max-width: 300px;
            }             
        }       
    }
  
    & .copyright {
        display: flex;

        @include atSmallest {
            flex-basis: 100%;
            justify-content: center;
        }        
        @include atMedium {
            flex-basis: 25%;
            justify-content: flex-end;
        }        
    }

}