.header {
    display: flex;
    position: relative;
    z-index: 10;
    flex-wrap: wrap;
    width: 100%;

    ~ .main{
        padding-top: 2rem;
    }

    &--fixed {
        position: fixed;
        z-index: 10;
        width: 100%;

        ~ .main{
            padding-top: calc(60px + 4rem);
        }
    }
        
    @include atMedium {
        &--fixed {        
            ~ .main {                
                padding-top: calc(60px + 3rem);
            }
        }
    }
    &__wrap {        
        margin-left: auto;
        margin-right: auto;

        @include atSmall {
            max-width: $grid-md;
        }
        @include atLarge {
            max-width: $grid-lg;
        }
        @include atLargest {
            max-width: $grid-xl;
        }
    }
    & .nav__sites {
        flex-basis: 100%;
        width: 100%;
    }

    &__logo {
        display: inline-block;
        padding-top: 1rem;
        padding-bottom: 1rem;

        & object,
        & svg,
        & img {
            position: relative;
            z-index: -1;
            max-width: 180px;
        }          
        @include atSmallest {
            flex-basis: 100%;
            width: 100%;
            text-align: center;
        }         
        
        @include atSmall {
            flex-basis: 25%;
            width: 25%;
            text-align: left;
            padding-left: 1rem;            

            & object,
            & svg,
            & img {
                max-width: 300px;
            }             
        }       
    }
}