.header__wrapper {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 5;

    &.fixed {
        position: fixed;
        top: 0;
        
        ~ .main{
            margin-top: 5rem;
        }        
    }    
}

.header {
    position: relative;
    z-index: 10;
    width: 100%;
    background-color: rgba(255,255,255,0.985 );
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &:after {
        background-color: #f0f0f2;
        bottom: 0rem;
        content: "";
        height: 1px;
        left: 0rem;
        position: absolute;
        right: 0rem;
        z-index: -1;        
    }

    &__logo {
        display: flex;
        align-items: center;
        padding-right: 1.5rem;
        background: yellow;

        & object,
        & svg,
        & img {
            position: relative;
            z-index: -1;
        }
        
        @include atSmallest {
            flex-basis: 100%;
            justify-content: center;
            padding-top: 1rem;
            padding-bottom: 0;
        }         
        @include atSmall {
            flex-basis: inherit;
            justify-content: flex-start;            
            padding-top: 1rem;
            padding-bottom: 1rem;            
        }  
        
        & a {
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            color: $grey-dark;

            & span {
                background-color: $grey-dark;
                color: white;
                padding: .25rem .5rem;
            }       
        } 
    }
    &__bulletin {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        height: 2.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        background-color: $theme-color-purple;

        color: rgba(255,255,255,0.85 );
        white-space: nowrap;        
    }    
}
