
.post-list__item {
    position: relative;
    overflow: hidden; 
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    // background: linear-gradient(transparent, rgba(black, 10%)); 
    // border-radius: 1rem;  

    .heading {
        font-size: 1.25rem;
        font-weight: 800;
    }
    .label {
        margin-right: .25rem;
    }
    & .cover__image {
        // position: absolute !important;
        // z-index: -1;
        // top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;
        // width: 100%;
    }
    // & .subheading {
    //     display: none;
    // }
    // & .excerpt {
    //     display: none;
    // }
    // &-content {
    //     padding: 3rem;
    // }  
}
